body {
    background-color: #0791e3;
    color: #fff;
}
header {
    background-color: red;
}
.table {
    background-color: #0791e3;
    color: #fff;

}

.todo-input-container {
    width: 400px;
    height: 40px;
}
.input-group-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 60vh;
}
.style {
    background-color: white;
    color: black;
    height: 41px;
}
.style:hover {
    background-color: #fff;
    color: black;
}
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.card {
    color: black;
    height: 80px;
}
.card-text {
    color: rgb(31, 177, 31);
}
.table-name {
    font-size: 18px;
    color: #111;
    font-weight: bold;
}